<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>сите</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="main-content">
            <div class="input-container">
                <div class="input-group">
                    <form method="post">
                        <div class="textarea-wrapper">
                            <textarea name="text1" rows="5" cols="30" placeholder="Введите текст здесь..." required>{{ text1 }}</textarea>
                        </div>
                        <div class="button-container">
                            <button type="submit" name="button1" class="big-button">Создать тест</button>
                        </div>
                    </form>
                </div>
                <div class="input-group">
                    <div class="textarea-wrapper">
                        <textarea name="text2" id="text2" rows="5" cols="30" readonly placeholder="//Здесь будет ваш тест">{{ text2 }}</textarea>
                    </div>
                    <div class="copy-button-group">
                        <button type="button" class="big-button" onclick="copyText()">Копировать</button>
                        <div class="text-under-copy"><p>Сохранить как:</p></div>
                        <div class="additional-buttons">
                            <form method="post">
                                <button type="submit" name="button3" class="small-button">PDF</button>
                            </form>
                            <form method="post">
                                <button type="submit" name="button4" class="small-button">Word</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function copyText() {
            var textToCopy = document.getElementById("text2");

            if (!textToCopy) {
                console.error("Элемент textarea с id='text2' не найден.");
                alert("Ошибка: Не найден элемент для копирования.");
                return;
            }

            textToCopy.select(); // Выделяем текст

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'успешно' : 'не удалось';
                console.log('Копирование текста ' + msg);
                alert("Текст скопирован!");
            } catch (err) {
                console.log('Не удалось скопировать текст: ', err);
                alert("Не удалось скопировать текст в буфер обмена. Попробуйте другой браузер.");
            }

            window.getSelection().removeAllRanges() // Снимаем выделение после копирования
        }
    </script>
</body>
</html>
